html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

* {
  box-sizing: border-box; }

[data-simplebar] {
  overflow: auto; }

.wrapper {
  height: 100vh;
  width: 100vw;
  z-index: -50;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  /*@keyframes curve {
  0% {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	100% {
		transform: rotate(60deg)
		           translate(200px)
		           rotate(-60deg);
	}
}*/ }
  .wrapper #cover {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    transition: opacity 0.2s ease-in-out; }
    .wrapper #cover.display {
      background: rgba(0, 0, 0, 0.2);
      opacity: 1;
      visibility: visible; }
  .wrapper nav {
    z-index: 1;
    color: white;
    height: 100%;
    width: 5em;
    border-radius: 0 20px 20px 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    transition: background 0.3s ease-in-out, width 0.3s ease; }
    .wrapper nav.show {
      background: #171717;
      width: 18em; }
  .wrapper #nav-button {
    background: #171717;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    top: 3rem;
    left: 2rem;
    position: relative;
    user-select: none;
    color: white;
    transition: all 0.3s ease-in-out;
    overflow: hidden; }
    .wrapper #nav-button .fa {
      position: absolute;
      top: 0;
      left: 0.2em;
      right: 0;
      bottom: 0;
      margin: auto;
      display: block;
      width: 1em;
      height: 1em;
      font-size: 1em;
      opacity: 1;
      transition: opacity .1s ease-in-out; }
    .wrapper #nav-button:hover {
      cursor: pointer;
      box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3); }
    .wrapper #nav-button.width {
      width: 80em;
      height: 80em;
      top: -37.5em;
      left: -37.5em;
      box-shadow: none; }
      .wrapper #nav-button.width:before {
        content: '';
        display: block;
        width: 0.4em;
        height: 0.4em;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: color 0.3s linear; }

@keyframes color {
  0% {
    box-shadow: 0; }
  30% {
    box-shadow: 0 0 10px 25px rgba(0, 0, 0, 0.5);
    /* feather / spread */ } }
  .wrapper #nav-list {
    position: absolute;
    top: 7em;
    padding: 0 0 0 2em;
    opacity: 0;
    width: 100%;
    transition: opacity 0.2s ease; }
    .wrapper #nav-list a {
      color: white;
      text-decoration: none;
      font-size: 0.9em;
      display: block;
      width: 100%;
      padding: 1.2em 0;
      transition: color 0.2s ease-in-out; }
      .wrapper #nav-list a:hover {
        color: #111; }
    .wrapper #nav-list.nav-show {
      opacity: 1; }
  .wrapper .timeline {
    border: 1px solid black;
    width: 90vw;
    height: 10vh;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 20px; }
  .wrapper #mapdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #6a98dd;
    z-index: -20;
    padding: 2vh 2vw; }
  .wrapper .content {
    width: 60vw;
    height: 75vh;
    margin-top: 8.5vh;
    margin-right: 1rem;
    background: white;
    border: 1px solid black;
    border-radius: 20px; }
    .wrapper .content .container {
      margin: 0 auto;
      box-sizing: border-box;
      width: 90%;
      height: 100%; }
      .wrapper .content .container figure img {
        width: 100%; }
