
$button-color: #171717;
$top-grad: #2c3e50  ;
$bottom-grad: #51606f;

/* Typography */

$base-line-height: 1.5;
$base-font-size: 1rem;
$vertical-rhythm: $base-line-height * $base-font-size;

body {
  line-height: $base-line-height;
}

p {
  font-size: $base-font-size;
  margin-bottom: $vertical-rhythm;
}

h1 {
  font-size: 3em;
  margin-bottom: $vertical-rhythm * 2;
}

h2 {
  font-size: 2em;
  margin-bottom: $vertical-rhythm;
}

h3 {
  font-size: 1.5em;
  margin-bottom: $vertical-rhythm;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //background-color: #6a98dd;
  overflow: hidden;
}

*{
  box-sizing: border-box;
}

[data-simplebar] {
  overflow: auto;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  z-index: -50;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  #cover{
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;

  &.display{
    background: rgba(0,0,0,0.2);
    opacity: 1;
    visibility: visible;
  }
}

  nav{
    z-index: 3;
    color: white;
    height: 100%;
    width: 10em;
    border-radius: 0 10px 10px 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    transition: background 0.3s ease-in-out, width 0.3s ease;
    &.show{
      background: $button-color;
      width: 18em;
    }
}

#nav-button{
  background: $button-color;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  top: 2rem;
  left: 2rem;
  position: relative;
  user-select: none;
  color: white;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  .fa{
    position: absolute;
    top: 0;
    left: 0.2em;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 1em;
    height: 1em;
    font-size: 1em;
    opacity: 1;
    transition: opacity .1s ease-in-out;
  }

  &:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  &.width{
    box-shadow: none;
    //animation: curve 1s linear;
    //animation-fill-mode: forwards;

    &:before {
      content:'';
      display: block;
      width: 0.4em;
      height: 0.4em;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      animation: color 0.3s linear;
    }
  }
}

@keyframes color {
  0% {
      box-shadow: 0;
	}
	30% {
      box-shadow: 0 0 10px 25px rgba(0, 0, 0,0.5); /* feather / spread */
	}
}

#nav-list{
  position: absolute;
  top: 7em;
  padding: 0 0 0 2em;
  opacity: 0;
  display: none;
  width: 100%;
  transition: opacity 0.2s ease;
  list-style: none;

  a{
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    width :100%;
    padding: 1.2em 0;
    transition: color 0.2s ease-in-out;
    &:hover{
      text-decoration: underline;
    }
  }

  &.nav-show{
    opacity: 1;
    display: block;
  }
}

  .timeline{
    width: 80vw;
    height: 10vh;
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    z-index: 1;
  }

  tspan{
    cursor: pointer;
  }

  #mapdiv{
      position: absolute;
      top: -5vh;
      left: 0;
      width: 100vw;
      height: 110vh;
      background-color: #A1DAF2;
  }

  .content{
    width: 60vw;
    height: 75vh;
    margin-top: 7.5vh;
    padding-bottom: 20px;
    margin-right: 2rem;
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;

    .container{
      margin: 2rem auto;
      box-sizing: border-box;
      width: 85%;
      height: 100%;

      figure{

        img{
          width: 100%;
        }
      }
    }

    .buttons{
      position: absolute;
      width: 100%;
      height: 3rem;
      bottom: 0;
      background-color: white;
    }
  }
}

//minimize / maximize
.content{

	transition:
		margin-top 1s 0s cubic-bezier(.1, 1.2, .3, 1),
		transform .5s 5s cubic-bezier(.1, 1.2, .3, 1),
		width 1s .0s cubic-bezier(.1, 1.2, .3, 1),
		opacity .1s;

	.controls{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		height: 30px;
		width: 100%;

		.max{
			background-color: rgb(232, 234, 236);
			position: absolute;
			top: -30px;
			opacity: 0;
			left: 0;
			z-index: 9;
			width: 100%;
      cursor: pointer;
			height: 30px;
			text-align: center;
			line-height: 30px;
			color: rgb(180, 185, 190);

			transition:
				opacity .3s .5s,
				top 0s .8s;
		}

		.min{
			width: 30px;
			height: 30px;
			float: left;
			position: relative;
      opacity: .5;
      cursor: pointer;

			&:before,
			&:after{
				position: absolute;
				content: "";
				width: 10px;
				height: 2px;
				background-color: black;
				position: absolute;
				border-radius: 2px;

				top: 14px;
				left: 10px;
			}

			&:before{
				transform: translateX(-3px) rotate(45deg);
			}

			&:after{
				transform: translateX(3px) rotate(-45deg);
			}

      &:hover{
        opacity: .7;
      }

      &:active{
        opacity: 1;
      }
		}
	}
}

.minimized .content {
  margin-top: 90vh;
  width: 200px;
  opacity: .5;
}

.minimized .content:hover {
  opacity: .75;
}

.minimized .content .max {
  top: 0;
  opacity: 1;
  -webkit-transition: opacity .3s .5s, top 0s .5s;
  transition: opacity .3s .5s, top 0s .5s;
}

.minimized .content .buttons {
  display: none;
}
